@import "variables";

html {
  box-sizing: border-box;
  font-family: $text-font;
  @media only screen and (max-width: 1023px) {
    font-size: 10px;
   }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: white;
  font-family: $text-font;
  width: 100vw;
  @media only screen and (max-width: 1023px) {
    @include column-center;
    justify-content: center;
  }

  nav {
    @include row-center;
    width: 100vw;
    background-color: $first-color;
    color: white;
    font-family: $nav-font;
  }

  .top-page {
    @media only screen and (max-width: 1023px) {
      @include column-center;
      width: 100%;
    }
  
    .header {
      @include column-center;
      background-color: $second-color;
      @media only screen and (max-width: 1023px) {
        width: 100%;
      }

      .profile-image {
        padding: 10px;
        justify-content: center;
      }
    }
  }

  main {
    flex-grow: 3;
    @media only screen and (max-width: 1023px) {
      @include column-center;
      width: 100%;
      
      .container {
        border-top: 3px solid black;
      }
    }
    
    .container {
      width: 100%;
      @include column-center;
      padding: 5px;
      background-color: white;
      border-bottom: 3px solid black;
    }

  }

  .footer {
    @include column-center;
    background-color: white;
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    color: black;
    page-break-after: always;

    .footerLinks {
      @include row-center;
      justify-content: center;
      padding: 10px;
      margin-bottom: 1vh;
      a {margin: 0 2vw; font-size: 1.5rem; margin-top: 0.5vh; text-decoration: none};
    }
  }

  .top-toogle {
    @include column-center;
    position: fixed;
    justify-content: center;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    right: 0;
    bottom: 0;
    background-color: $first-color;
    color: white;
    opacity: 0.5;
    border-radius: 50%;
    &:hover {
      opacity: 1;
      font-size: 2.5rem;
      background-color: $second-color;
      color: $first-color;
      cursor: pointer;
    }
  }
}


// For Screen resoultion 1024px and up

@media only screen and (min-width: 1024px) {
  html {
    font-size: 10px;
  }

  body {
    @include row-center;

    nav {
      @include row-center;
      width: 100%;
      background-color: $first-color;
      color: white;
      font-family: $nav-font;

      div {
        @include row-center;
        p {display: flex; font-family: $text-font; font-size: 2rem;};
        i {font-size: 2.5rem; margin: 0 0.5vw};
      }
    }

    .top-page {
      @include column-center;
      width: 35%;
      margin-top: 12vh;
    
      .header {
        width: 35%;
        justify-content: center;
        align-content: center;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;

        .profile-image {
          margin-top: 5vh;
        }
      }
    }
  
    main {
      margin-top: 15vh;
      @include row-center;
      justify-content: center;
      width: 65%;
      right: 0;
      top: 0;
      bottom: 0;
      @media only screen and (max-height: 600px) {
        margin-top: 20vh;
      };
    }
  }
}
