@import "variables";

// nav {
//   display: flex;
//   width: 100vw;
//   height: 10vh;
//   font-family: $nav-font;
//   padding: 1.5em;
//   background-color: $first-color;
//   color: white;
//   align-items: center;
//   justify-content: space-between;
//   position: fixed;
//   top: 0;
// }

// nav > h1 {
//   font-size: 1.5em;
// }

// nav  div {
//   display: flex;
//   padding: 1.5em;
//   padding-bottom: 2em;
//   flex-flow: column wrap;
//   justify-content: center;
//   align-items: center;
//   font-family: $text-font;
// }

// nav div p {
//   display: none;
// }

// nav  div  i {
//   color: $arrow-color;
//   font-size: 2em;
// }

// nav div i:hover {
//   color: white;
//  }

//  @media only screen and (min-width: 1024px) {
//    nav div {
//      flex-flow: row wrap;
//      justify-content: space-evenly;
//    }

//   nav div p {
//     display: flex;
//     margin-right: 0.5em;

//   }
  
//   nav > div > i {
//     font-size: 1.5em;
//   }
// }

// <nav>
// <h1>tweeter</h1>
// <div id="compose">
//     <p><b>Write</b>&nbsp;a new tweet!</p>
//       <i class="fa-solid fa-angles-down"></i>
// </div>
// </nav>

nav {
  justify-content: space-between;
  padding: 5px;
  position: fixed;
  top: 0;
  z-index: 1000;

  h1 {
    font-size: 3rem;
    padding: 5px;
  }

  div {
    @include column-center;
    padding: 20px;

    p {
      display: none;
    }

    i {
      font-size: 5rem;
      color: $arrow-color;
      &:hover {color: white; cursor: pointer};
    }
  }
}