@import "variables";

/* -- New Tweet Container -- */
.new-tweet {
  display: flex;
  width: 90%;
  flex-flow: column wrap;
}

/* -- New Tweet Header -- */
.new-tweet header {
  display: flex;
  justify-content: center;
  align-content: center;
}

.new-tweet header h2 {
  display: none;
}

.new-tweet #invalid {
  display: flex;
  color: $arrow-color;
  padding: 0.5em;
  border-radius: 5px;
}

/* -- New Tweet Text Area -- */

.new-tweet textarea {
  background-color: transparent;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid $text-color;  
  margin-bottom: 0.5em;
}

/* -- New Tweet Below Text Area -- */
.new-tweet div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.new-tweet div button {
  background-color: $first-color;
  font-family: 'Bungee', cursive;
  color: white;
  padding: 5px;
  border: 2px solid #545149;
  border-radius: 10px;
  outline: none;
}

.new-tweet div button:hover {
  background-color: $second-color;
  color: $first-color;
  outline: none;
}



@media only screen and (min-width: 1024px) {

}