@import "variables";

.feeds {
  @include column-center;
  width: 90%;
  padding: 10px;
  margin-top: 1vh;
  
  .tweets {
    width: 100%;
    background-color: $note-color;
    background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png");
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 1vh;
    &:hover{box-shadow: $text-color 0px 5px 15px;}
    
    header {
      @include row-center;
      justify-content: space-between;
      padding: 5px;

      img {width: 3.5rem; height: 3.5rem; padding: 2px;};
      h2 {font-size: 2rem};
      a {font-size: 1.5rem; text-decoration: none; margin-right: 0.5vw};
    }

    div {
      @include row-center;
      padding: 5px;
      justify-items: space-around;
      font-size: 1.5rem;

    }

    .tweet {
      font-size: 1.8rem;
      border-bottom: 2px solid black;
      padding: 10px;
      word-break: break-word;
      p {margin-left: 0.5vw;};
    }

    footer {
      @include row-center;
      justify-content: space-between;
      padding: 5px;

      p {margin: 0 0.5vw};
      i {
        margin: 0 0.5vw;
        font-size: 2rem;
        &:hover {
          color: $first-color;
        }
      }
    }
  }
}