@import "variables";

// .feeds {
//   display: flex;
//   flex-flow: column wrap;
//   align-items: center;
//   width: 100%;
//   font-size: 1em;
// }

// article.tweets {
//   display: flex;
//   flex-flow: column wrap;
//   height: 16vh;
//   width: 95%;
//   margin: 0.5em 0.5em;
//   border: 3px solid $text-color;
//   border-radius: 5px;
//   background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png");
//   background-color: $note-color;
// }

// article.tweets:hover {
//   box-shadow: $text-color 0px 5px 15px;
// }

// /* --- Tweet Header --- */
// article.tweets header {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 1.5em;
//   height: 25%;
//   font-size: 0.5em;
// }

// article.tweets header > div {
//   display: flex;
//   justify-items: space-evenly;
//   margin: 1em 0.5em;
// }

// article.tweets header > div > img {
//   display: flex;
//   height: 30px;
//   width: 30px;
//   margin-top: 0.8em;
//   margin-left: -0.8em;
//   margin-right: 0.5em;
// }

// article.tweets header > a {
//   text-decoration: none;
//   font-size: 1.5em;
// }

// article.tweets header > a:hover {
//   color: $first-color;
// }

// /* --- Tweet Content --- */

// article.tweets > .tweet {
//   display: flex;
//   justify-items: center;
//   align-items: center;
//   padding: 1em;
//   font-size: 0.6em;
//   height: 35%;
//   margin: 0.1em 1em;
// }

// /* --- Tweet Footer --- */

// article.tweets footer {
//   display: flex;
//   flex-flow: row wrap;
//   justify-content: space-between;
//   align-items: flex-start;
//   align-self: center;
//   height: 20%;
//   width: 95%;
//   font-size: 0.5em;
//   margin-top: 0.3em;
//   border-top: 2px solid $text-color;
// }

// article.tweets footer div{
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   margin: 0.5em 0em;
// }

// article.tweets footer p{
//   margin: 0 0.5em;
// }

// article.tweets footer i{
//   margin: 0 0.5em;
// }

// #like:hover {
//   color: $arrow-color;
// }

// #retweet:hover {
//   color: $first-color;
// }

// #flag:hover {
//   color: $arrow-color;
// }

// @media only screen and (min-width: 1024px) {
//   article.tweets {
//     height: 23vh;
//   }

//   article.tweets > .tweet {
//     font-size: 0.7em;
//   }

//   article.tweets > footer {
//     font-size: 0.8em;
//   }
// }

// let $tweet = $('<article>').addClass('tweets');
    
// create header element
// let $user = $('<div>').append($('<img>').attr('src', tweets.user.avatars), $('<h2>').text(tweets.user.name))
// let $handle = ($('<a>').attr('href', '/')).append($('<p>').text(tweets.user.handle));
// let $header = $('<header>').append($user, $handle);


// create content element
// let $content = $('<div>').addClass('tweet').append($('<p>').text(tweets.content.text));

// create footer elements  
// let $dateAndLikes = $('<div>').append($('<p>').text(moment(tweets.created_at).fromNow()), $('<p>').attr('id', 'likeCounter').text('0 likes'));
// let $symbols = $('<div>').append($('<i>').addClass('fa-solid fa-heart').attr('id', 'like'), $('<i>').addClass('fa-solid fa-retweet').attr('id', 'retweet'), $('<i>').addClass('fa-solid fa-flag').attr('id', 'flag'))
// let $footer = $('<footer>').append($dateAndLikes, $symbols);

// Append header, content, and footer into the tweet article
// return $tweet.append($header, $content, $footer);

.feeds {
  @include column-center;
  width: 90%;
  padding: 10px;
  
  .tweets {
    width: 100%;
    background-color: $note-color;
    background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png");
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 1vh;
    
    header {
      @include row-center;
      justify-content: space-between;
      padding: 5px;

      img {width: 3.5rem; height: 3.5rem; padding: 2px;};
      h2 {font-size: 2rem};
      a {font-size: 1.5rem; text-decoration: none; margin-right: 0.5vw};
    }

    div {
      @include row-center;
      padding: 5px;
      justify-items: space-around;
      font-size: 1.5rem;

    }

    .tweet {
      font-size: 1.8rem;
      border-bottom: 2px solid black;
      padding: 10px;
      word-break: break-word;
      p {margin-left: 0.5vw;};
    }

    footer {
      @include row-center;
      justify-content: space-between;
      padding: 5px;

      p {margin: 0 0.5vw};
      i {
        margin: 0 0.5vw;
        font-size: 2rem;
        &:hover {
          color: $first-color;
        }
      }
    }
  }
}