@media only screen and (max-width: 1023px) {
  .header {
    justify-content: center;
    margin-top: 5vh;
    padding: 10px;
  }
  .header img {
    margin-top: 15vh;
  }
}
.header .profile-image {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.header .profile-image img {
  margin-top: 5vh;
  height: 350px;
  width: 350px;
}
.header .profile-image h2 {
  font-size: 2.5rem;
  margin-top: -1vh;
}
