html {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
@media only screen and (max-width: 1023px) {
  html {
    font-size: 10px;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
  width: 100vw;
}
@media only screen and (max-width: 1023px) {
  body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }
}
body nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100vw;
  background-color: #257cbf;
  color: white;
  font-family: "Bungee", cursive;
}
@media only screen and (max-width: 1023px) {
  body .top-page {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
  }
}
body .top-page .header {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #f0d23e;
}
@media only screen and (max-width: 1023px) {
  body .top-page .header {
    width: 100%;
  }
}
body .top-page .header .profile-image {
  padding: 10px;
  justify-content: center;
}
body main {
  flex-grow: 3;
}
@media only screen and (max-width: 1023px) {
  body main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
  }
  body main .container {
    border-top: 3px solid black;
  }
}
body main .container {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 5px;
  background-color: white;
  border-bottom: 3px solid black;
}
body .footer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: white;
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  color: black;
  page-break-after: always;
}
body .footer .footerLinks {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 1vh;
}
body .footer .footerLinks a {
  margin: 0 2vw;
  font-size: 1.5rem;
  margin-top: 0.5vh;
  text-decoration: none;
}
body .top-toogle {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  position: fixed;
  justify-content: center;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  right: 0;
  bottom: 0;
  background-color: #257cbf;
  color: white;
  opacity: 0.5;
  border-radius: 50%;
}
body .top-toogle:hover {
  opacity: 1;
  font-size: 2.5rem;
  background-color: #f0d23e;
  color: #257cbf;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 10px;
  }

  body {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  body nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    background-color: #257cbf;
    color: white;
    font-family: "Bungee", cursive;
  }
  body nav div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  body nav div p {
    display: flex;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2rem;
  }
  body nav div i {
    font-size: 2.5rem;
    margin: 0 0.5vw;
  }
  body .top-page {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 35%;
    margin-top: 12vh;
  }
  body .top-page .header {
    width: 35%;
    justify-content: center;
    align-content: center;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
  }
  body .top-page .header .profile-image {
    margin-top: 5vh;
  }
  body main {
    margin-top: 12vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 65%;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
