nav {
  height: 120px;
  background-color: #4056A1;
  padding: 1.5em;
  width: 100%;
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
  position:absolute;
  top: 0;
}

nav > span {
  font-family: 'Bungee', cursive;
}

nav > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  font-family: 'Source Sans Pro', sans-serif;
}

nav > div > i {
  margin-top: -10px;
  color: #F4210A;
}