nav {
  display: flex;
  height: 120px;
  background-color: #257cbf;
  padding: 1.5em;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

nav > h1 {
  font-family: 'Bungee', cursive;
  font-size: 42px;
}

nav > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  font-family: 'Source Sans Pro', sans-serif;
}

nav > div > i {
  margin-top: -10px;
  color: #F4210A;
}

@media only screen and (max-width: 640px) {
  nav div p {
    display: none;
  }

  nav div i {
    font-size: 48px;
  }

  nav div i:hover {
   color: #ffffff;
  }
}