.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100wv;
}

.new-tweet header {
  display: flex;
  padding: 1em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.new-tweet header h2 {
  display: none;
}

.new-tweet #invalid {
  display: flex;
  color: red;
  width: 75vw;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.new-tweet div button {
  background-color: #257cbf;
  font-family: 'Bungee', cursive;
  color: white;
  padding: 5px;
  border: 2px solid #545149;
  border-radius: 10px;
  outline: none;
}

.new-tweet div button:hover {
  background-color: #f0d23e;
  color: #257cbf;
  outline: none;
}

.new-tweet textarea {
  background-color: transparent;
  width: 80vw;
  border: none;
  outline: none;
  border-bottom: 2px solid #545149;
  margin-bottom: 15px;
}

@media only screen and (max-width: 640px) {
  .new-tweet {
    width: 80vw;
  }

  .new-tweet textarea {
    margin-top: 20px;
  }

  .new-tweet #invalid {
    width: 70vw;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    font-size: 18px;
  }
}