.new-tweet {
  width: 90%;
  font-size: 1.5rem;
  margin-bottom: 1vh;
}
.new-tweet h2 {
  display: none;
}
.new-tweet #invalid {
  display: flex;
  justify-content: center;
  color: #F4210A;
  padding: 5px;
  border-radius: 5px;
}
.new-tweet form textarea {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
}
.new-tweet form div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 1vh;
}
.new-tweet form button {
  background-color: #257cbf;
  color: white;
  font-family: "Bungee", cursive;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}
.new-tweet form button:hover {
  background-color: #f0d23e;
  color: #257cbf;
}
