.feeds {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  font-size: 1em;
}

article.tweets {
  display: flex;
  flex-flow: column wrap;
  height: 16vh;
  width: 95%;
  margin: 0.5em 0.5em;
  border: 3px solid #545149;
  border-radius: 5px;
  background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png");
  background-color: #f2f1c6;
}

article.tweets:hover {
  box-shadow: #545149 0px 5px 15px;
}

/* --- Tweet Header --- */
article.tweets header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  height: 25%;
  font-size: 0.5em;
}

article.tweets header > div {
  display: flex;
  justify-items: space-evenly;
  margin: 1em 0.5em;
}

article.tweets header > div > img {
  display: flex;
  height: 30px;
  width: 30x;
  margin-top: 0.8em;
  margin-left: -0.8em;
  margin-right: 0.5em;
}

article.tweets header > a {
  text-decoration: none;
  font-size: 1.5em;
}

article.tweets header > a:hover {
  color: #2cd6e9;
}

/* --- Tweet Content --- */

article.tweets > .tweet {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 1em;
  font-size: 0.7em;
  height: 40%;
  margin: 0.1em 1em;
}

/* --- Tweet Footer --- */

article.tweets footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-self: center;
  height: 20%;
  width: 95%;
  font-size: 0.5em;
  margin-top: 0.3em;
  border-top: 2px solid #545149;
}

article.tweets footer div{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5em 0em;
}

article.tweets footer p{
  margin: 0 0.5em;
}

article.tweets footer i{
  margin: 0 0.5em;
}

#like:hover {
  color: #f40ae4;
}

#retweet:hover {
  color: #2cd6e9;
}

#flag:hover {
  color: #F4210A;
}

@media only screen and (min-width: 1024px) {
  article.tweets {
    height: 22vh;
  }

  article.tweets > .tweet {
    font-size: 0.7em;
  }
}