article.tweets {
  display: flex;
  border: 3px solid #545149;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  flex-flow: column wrap;
  height: 450px;
  width: 80vw;
  background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png");
  background-color: #f2f1c6;
}

article.tweets:hover {
  box-shadow: #545149 0px 5px 15px;
}

article.tweets header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  margin: 0 10px;
  height: 150px;
}

article.tweets header > div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

article.tweets header > div > img {
  display: flex;
  height: 120px;
  width: 120x;
  margin: 0 10px;
}

article.tweets header > a {
  text-decoration: none;
}

article.tweets header > a:hover {
  color: #2cd6e9;
}

article.tweets > .tweet {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #545149;
  margin-bottom: 10px;
  margin: 0px 40px;
  height: 150px;
}

#like:hover {
  color: #f40ae4;
}

#retweet:hover {
  color: #2cd6e9;
}

#flag:hover {
  color: #F4210A;
}

article.tweets footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-end;
  height: 100px;
}

article.tweets footer div{
  display: flex;
  margin: 20px 20px;
  flex-direction: row;
  align-items: center;
}

article.tweets footer p{
  margin: 20px 10px;
}

article.tweets footer i{
  margin: 20px 10px;
}