.feeds {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 90%;
  padding: 10px;
}
.feeds .tweets {
  width: 100%;
  background-color: #f2f1c6;
  background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png");
  border: 3px solid black;
  border-radius: 10px;
  margin-bottom: 1vh;
}
.feeds .tweets header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.feeds .tweets header img {
  width: 3.5rem;
  height: 3.5rem;
  padding: 2px;
}
.feeds .tweets header h2 {
  font-size: 2rem;
}
.feeds .tweets header a {
  font-size: 1.5rem;
  text-decoration: none;
  margin-right: 0.5vw;
}
.feeds .tweets div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 5px;
  justify-items: space-around;
  font-size: 1.5rem;
}
.feeds .tweets .tweet {
  font-size: 1.8rem;
  border-bottom: 2px solid black;
  padding: 10px;
  word-break: break-word;
}
.feeds .tweets .tweet p {
  margin-left: 0.5vw;
}
.feeds .tweets footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.feeds .tweets footer p {
  margin: 0 0.5vw;
}
.feeds .tweets footer i {
  margin: 0 0.5vw;
  font-size: 2rem;
}
.feeds .tweets footer i:hover {
  color: #257cbf;
}
